@use "package:picocss/" as pico with (
    $enable-semantic-container: true,
    $enable-classes: false,
    $modules: (
        "content/code": true,
        "forms/input-color": false,
        "forms/input-date": false,
        "forms/input-file": false,
        "forms/input-range": false,
        "forms/input-search": false,
        "components/accordion": false,
        "components/card": false,
        "components/dropdown": false,
        "components/loading": false,
        "components/modal": false,
        "components/nav": false,
        "components/progress": false,
        "components/tooltip": false,
        "utilities/accessibility": false,
        "utilities/reduce-motion": false
    )
);

.logo {
    height: 1em;
}

@media (prefers-color-scheme: light) {
    .dark {
        display: none;
    }
}
@media (prefers-color-scheme: dark) {
    .light {
        display: none;
    }
}

footer {
    display: flex;
    justify-content: space-between;
}