name: build

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  dart:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: dart-lang/setup-dart@v1
      - run: dart pub get
      - run: dart format --output=none --set-exit-if-changed .
      - run: dart analyze --fatal-warnings
      - run: dart test
        working-directory: sync_rules_rewriter

  node:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: dart-lang/setup-dart@v1
      - run: corepack enable
      - uses: actions/setup-node@v6
        with:
          node-version: latest
          cache: pnpm
          cache-dependency-path: js-package/pnpm-lock.yaml
      - run: dart pub get
      - run: pnpm build
        working-directory: js-package
      - run: pnpm test
        working-directory: js-package
